<div style="margin-left:20%; margin-top:10%;" >
	<div>
		<label>User logged in : {{caseDetails.userId}}</label>
	</div>
	<h3>Search case</h3>
	<div>
		<label>Case : </label> <input type="text" [(ngModel)]="caseDetails.id"
			placeholder="Credit case number" />

	</div>
	<p>
		<button (click)="getCaseDetails(caseDetails.id)">Get Case
			Details</button>
	</p>
	<div>
		<label style="color:red">{{caseErrorMessage}}</label>
	</div>
	
	
	<textarea rows="10" cols="120"   (keyup)="onKey($event)"  [ngModel]="caseDetails.case.caseDescription">
		</textarea>

	<p>
		<button (click)="saveCaseDescription()">Save Case Description</button>
	</p>
</div>
